MONITOR_URL=https://www.movistararena.com.ar/show/993a2d46-39d7-4455-b199-87a5a2dc9b83
TARGET_ARTIST=María Becerra
TARGET_DAY_REGEX=^2\d$
CHECK_INTERVAL_MS=30000
ALARM_YOUTUBE_URL=https://www.youtube.com/watch?v=Terd4qKkb6k
PLAYWRIGHT_USER_DATA_DIR=.playwright-profile

FORCE_SPEAKERS=true
SPEAKER_DEVICE_NAME=Altavoces
FORCE_SYSTEM_VOLUME=true
SPEAKER_SCRIPT_PATH=scripts/set-speakers.ps1

ALARM_COOLDOWN_MINUTES=60
STATE_DIR=state
